/*
 * txt-list v.1
 * Author:sonichuang
 * Modify:2015-11-30
 * 
 */
.mocha-txt-list{}
	.mocha-txt-list-ul{}
	.mocha-tlu-item{position: relative;border-bottom: 1px solid #ccc;padding:1em 0 1em 4em;}
	.mocha-tlu-item:after{content: '.';height: 0;line-height: 0;display: block;clear: both;visibility: hidden;}
	.mocha-tlu-item:last-child{border-bottom:none;}
	.mocha-tlu-item-icon{position: absolute;left:1em;top:1em;width:2.5em;height:1.5em;line-height: 1.5em;border-radius:5em;background-color: #ccc;text-align: center;}
	.mocha-tlu-item-title{font-size:1.2em;}
	.mocha-tlu-item-meta{padding-top:0.2em;}
	.mocha-tlu-item-meta time{padding-left:1em;}
	.mocha-tlu-item-sup{float: left;margin-right:0.5em;}
	/* scheme */
	.mocha-txt-list-scheme1{}
	.mocha-txt-list-scheme2{}
	.mocha-txt-list-scheme2 .mocha-tlu-item{padding-left:1em;}
	.mocha-txt-list-scheme2 .mocha-tlu-item-icon{display: none;}
	.mocha-txt-list-scheme3 .mocha-tlu-item{padding-left:1em;}
	.mocha-txt-list-scheme3 .mocha-tlu-item-title{overflow: hidden;*zoom:1;height:1.2em;line-height: 1.2em;padding-right:4em;text-overflow:ellipsis;white-space:nowrap;}
	.mocha-txt-list-scheme3 .mocha-tlu-item-meta{position: absolute;right:1em;top:1em;}
	/* skin */
	.mocha-txt-list-skin1{font-size:12px;}
	.mocha-txt-list-skin1 a:link,.mocha-txt-list-skin1 a:visited{color: #666;}
	.mocha-txt-list-skin1 .mocha-tlu-item{border-bottom: 1px solid #ddd;}
	.mocha-txt-list-skin1 .mocha-tlu-item-meta{color: #999;}
	.mocha-txt-list-skin1 .mocha-tlu-item-icon{color: #fff;background-color: #00c2f5;}
	.mocha-txt-list-skin1 .mocha-tlu-item-icon.style1{background-color: #f97d01;}


