/*
 * select v.1
 * Author:kevinhehe
 * Modify:2015-12-07
 * 
 */
 .mocha-data-user{margin-bottom: .1rem;}
	.mocha-data-user,.mocha-data-user-hd,.mocha-data-user-bd{display: -webkit-box;display: box;display: -webkit-flexbox;display: flexbox;display: -webkit-flex;display:flex;}
	.mocha-data-user,.mocha-data-user-hd,.mocha-data-user-bd{-webkit-box-align:center;box-align:center;-webkit-flex-align:center;flex-align:center;-webkit-align-items:center;align-items:center;}
	.mocha-data-user-name,.mocha-data-user-num,.mocha-data-user-box p{display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	.mocha-data-user-content p,.mocha-data-user-bd p{font-size: .09rem;line-height: .14rem;}
	.mocha-data-user-name,.mocha-data-user-num{font-size: .15rem;font-weight: normal;line-height: .25rem;}
	.mocha-data-user-num{font-size: .18rem;}
	.mocha-data-user{height:0.6rem;}
	.mocha-data-user-hd,.mocha-data-user-bd{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	.mocha-data-user-hd{width:33.8%;height:100%;}
	.mocha-data-user-bd{width:35%;height:100%;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.mocha-data-user-btn{width: 23%;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.mocha-data-user-img{position: absolute;width: .4rem;height: .4rem;padding: .1rem;}
	.mocha-data-user-img img{display: block;width: 100%;height: 100%;border-radius:100%;}
	.mocha-data-user-content{width: 100%;padding-left: .6rem;padding-right: .1rem;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.mocha-data-user-name{position:relative;display: block;}
	.mocha-data-user-level{padding:.01rem .07rem;font-size: .09rem;line-height: .14rem;border-radius: .06rem;}
	.mocha-data-user-level i{display: inline-block;}
	.mocha-data-user-box{width: 100%;padding:0 .1rem 0;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.mocha-data-user-btn a{display: block;height: .4rem;min-width: 1.15rem;margin-top: .1rem;font-size: .13rem;line-height: .4rem;text-indent: .1rem;}
	.mocha-data-user-ui{position: relative;width: .16rem;height: .16rem;text-align: center;line-height: .16rem;vertical-align: middle;border-radius: 50%;}
	.mocha-data-user-ui:before{border-image: none;border-style: solid;border-width: 0 1px 1px 0;content: "";display: block;height: .06rem;position: absolute;right: .06rem;top: .04rem;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);width: .06rem;}
	
	@media screen and (orientation:landscape) {
		.mocha-data-user{-webkit-box-sizing: border-box;box-sizing: border-box;}
		.mocha-data-user-btn{height:100%;padding-right: .1rem;}
		.mocha-data-user-btn a{border-radius: .035rem;}
		.mocha-data-user-ui{float: right;margin: .1rem .1rem 0 0;}
	}
	@media screen and (orientation:portrait) {
		.mocha-data-user{position: relative;padding-bottom: .4rem;}
	    .mocha-data-user-hd {width: 50%;}
	    .mocha-data-user-bd {width: 25%;}
	    .mocha-data-user-btn{position: absolute;top:0.6rem;left:-1px;right:0;width:100%;text-align: center;}
	    .mocha-data-user-btn a{width:100%;margin-top: 0;}
	    .mocha-data-user-ui{display: inline-block;margin: -.01rem 0 0 .05rem;}
		
	}

	/* scheme1 */
	.mocha-data-user-scheme1 .mocha-data-user-bd{width: 43.2%;text-align: center;}
	.mocha-data-user-scheme2 .mocha-data-user-bd{width: 21.6%;}
	.mocha-data-user-scheme3 .mocha-data-user-bd{width: 14.4%;}
	@media screen and (orientation:portrait) {
		.mocha-data-user-scheme1 .mocha-data-user-bd{width: 50%;text-align: center;}
		.mocha-data-user-scheme2 .mocha-data-user-bd{width: 25%;}
		.mocha-data-user-scheme3 .mocha-data-user-bd{width: 16.7%;}
	}
