<% if (site.posts.length){ %>
  <div class="sidebar-module">
    <h4>所有模块</h4>
    <ul class="sidebar-module-list">
      <% site.posts.sort('date', -1).limit(30).each(function(post){ %>
        <li>
          <a class="btn btn-default btn-lg btn-block" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>