/*
 * banner-slider v.1
 * Author:dereksu
 * Modify:2015-12-3
 */
	/* bannerslider */
  .mocha-banner-slider{position: relative;margin:0 auto;}
	.mocha-banner-slider .content{position:absolute;top:0;left:0;z-index: 1;}
	.mocha-banner-slider .content li{float: left;position: relative;}
	.mocha-banner-slider .content li a{display: inline-block;}
	.mocha-banner-slider .controller{width:100%;z-index: 2;}
	.mocha-banner-slider .controller li{display: inline-block;line-height:9999px;}
	/* scheme */
	.mocha-banner-slider-scheme1 .controller{position:absolute;bottom:7px;right:10px;height:10px;text-align:right;}
	.mocha-banner-slider-scheme2 .controller{position:absolute;bottom:7px;right:0;height:10px;text-align:center;}
	.mocha-banner-slider-scheme3 .controller{position:absolute;bottom:7px;right:0;height:20px;text-align:center;}
	.mocha-banner-slider-scheme4.gallery-thumbs .content li{opacity: 0.5;}
	.mocha-banner-slider-scheme4.gallery-thumbs .content li.cur{opacity: 1;}
	/* skin */
	.mocha-banner-slider-skin1 .controller li{width:20px;height:4px;margin:3px;background-color:#8a8a8a;}
	.mocha-banner-slider-skin1 .controller li.current{background-color:#ffdb72;}
	.mocha-banner-slider-skin3 .controller li{width:10px;height:10px;margin:5px;border-radius:50%;-webkit-border-radius:50%;background-color:#8a8a8a;}
	.mocha-banner-slider-skin3 .controller li.current{background-color:#ffdb72;}
	.mocha-banner-slider-skin4 .controller li{width:10px;height:10px;margin:0 5px;border-radius:50%;-webkit-border-radius:50%;background-color:#8a8a8a;}
	.mocha-banner-slider-skin4 .controller li.current{background-color:#ffdb72;}
	/* wrapper */
	.mocha-banner-slider-wrapper{position: relative;width:100%;overflow: hidden;}
	/* btn */
	.mocha-banner-slider-btn{display:block;position:absolute;}
	.mocha-banner-slider-btn1{color:#fff;font-size:16px;font-weight:bolder;padding:.5em;width:50px;height:50px;line-height:50px;top:50%;background-color: #a72525;border-radius: 50%;-webkit-border-radius: 50%;}
	.mocha-banner-slider-btn1.prevBtn{left:-47px;text-align: right;}
	.mocha-banner-slider-btn1.nextBtn{right:-47px;text-align: left;}
	
