/*
 * navigation v.1
 * Author:kevinhehe
 * Modify:2015-12-05
 * 
 */
.mocha-nav{position:relative;z-index:100;left:0;top:0;width:100%;height:.6rem;font-size: .16rem;}
	.mocha-nav-logo{position: relative;float: left;}
	.mocha-nav-logo img{float: left;width: .4rem;height: .4rem;margin-top: .11rem;margin-left: .1rem;}
	.mocha-nav-logo .mocha-nav-logo-desc{float: left;margin-top: .11rem;margin-left: .1rem;}
	.mocha-nav-logo .mocha-nav-logo-desc h1{font-size: .16rem;line-height: 140%;font-weight: normal;}
	.mocha-nav-logo .mocha-nav-logo-desc h2{font-size: .14rem;line-height: 140%;font-weight: normal;}
	.mocha-nav-btn{position: relative;float:right;height: .3rem;margin-top: .16rem;margin-right: .1rem;padding:0 .16rem;text-align: center;line-height: .3rem;}

	.mocha-nav-cover{display: none;position: absolute;top: 0;left: 0;width: 100%;height: .6rem;z-index: 997;}
	.mocha-nav-box{position: relative;float: right;}
	.mocha-nav-slide{position: relative;margin-right:.1rem;margin-top:.21rem;width:.25rem;height:.2rem;z-index: 998;}
	.mocha-nav-slide-icon,.mocha-nav-slide-icon:before,.mocha-nav-slide-icon:after{width:.25rem;height:.02rem;position:absolute;left:0;-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
	.mocha-nav-slide-icon{top:.09rem;left:0;}
	.mocha-nav-slide-icon:before{content:"";top:-.07rem;}
	.mocha-nav-slide-icon:after{content:"";top:.07rem;}
	.mocha-nav-slide-close .mocha-nav-slide-icon{background:transparent;}
	.mocha-nav-slide-close .mocha-nav-slide-icon:before{top:0;-webkit-transform:rotate(45deg);}
	.mocha-nav-slide-close .mocha-nav-slide-icon:after{top:0;-webkit-transform:rotate(-45deg);}
	.mocha-nav-list{right:0;z-index:996;-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
	.mocha-nav-list-open{top:.6rem;width: 100%;-webkit-transform:scale3d(1,1,1);}
	.mocha-nav-list ul{width:100%;overflow:hidden;text-align:center;}
	.mocha-nav-list li{height:.38rem;overflow:hidden;line-height:.38rem;position:relative;}
	.mocha-nav-list a{display:block;height:100%;}
	.mocha-nav-box-cover {width: 100%;height: 300%;position: absolute;top: 0;right: 0;z-index: 997;}
	.mocha-nav-box-big .mocha-nav-box-cover {-webkit-animation: mochaNavBoxCover .5s .5s linear forwards;}
	@-webkit-keyframes mochaNavBoxCover {0%{z-index: 997;}100%{z-index: 995;}}
	.mocha-nav-transition .mocha-nav-slide-icon,.mocha-nav-transition .mocha-nav-slide-icon:before,.mocha-nav-transition .mocha-nav-slide-icon:after,.mocha-nav-transition .mocha-nav-list,.mocha-navigation-scheme3.mocha-nav-transition .mocha-nav-box{-webkit-transition:all .5s;}

	/* scheme */
	.mocha-navigation-scheme1 {}
	.mocha-navigation-scheme2 {position: absolute;}
	.mocha-navigation-scheme2 .mocha-nav-box{z-index: 998;}
	.mocha-navigation-scheme2 .mocha-nav-list{position:fixed;top:.6rem;width:0;height:0;opacity: 0;}
	.mocha-navigation-scheme2 .mocha-nav-list-cover{position:absolute;left:0;top:0;width: 100%;height: 100%;z-index:996;}
	.mocha-navigation-scheme2 .mocha-nav-list-open{width: 100%;height:100%;opacity:1;}
	.mocha-navigation-scheme3 {position: absolute;}
	.mocha-navigation-scheme3 .mocha-nav-cover{display: block;}
	.mocha-navigation-scheme3 .mocha-nav-logo{z-index: 998;}
	.mocha-navigation-scheme3 .mocha-nav-btn{z-index: 998;}
	.mocha-navigation-scheme3 .mocha-nav-box{position: absolute;top: .6rem;right: 0;width: .57rem;height: 0;-webkit-transform: translate3d(0,-2.34rem,0);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;z-index: 996;}
	.mocha-navigation-scheme3 .mocha-nav-slide{float: right;margin-top: 0;margin-right: 0;padding: .05rem .1rem;clear: both;}
	.mocha-navigation-scheme3 .mocha-nav-slide:before {content: "";position: absolute;left: -.119rem;top: 0;width: 0;height: 0;display: block;border-width: .3rem 0 0 .12rem;border-style: solid;}
	.mocha-navigation-scheme3 .mocha-nav-slide-icon{top: .14rem;left: .1rem;}
	.mocha-navigation-scheme3 .mocha-nav-list{position: relative;width: .57rem;overflow: hidden;float: right;}
	.mocha-navigation-scheme3 .mocha-nav-list{position: relative;top: 0;}
	.mocha-navigation-scheme3 .mocha-nav-list-open{width: 100%;}
	.mocha-navigation-scheme3 .mocha-nav-box-big {width: 100%;height: 100%;-webkit-transform: translate3d(0,0,0);}
	.mocha-navigation-scheme4.mocha-nav-fixed{position: fixed;}
	