/*
 * dialog v.1
 * Author:sonichuang
 * Modify:2015-12-08
 * 
 */
.mocha-tab{margin-bottom:0.16rem;}
	.mocha-tab-triggers{}
	.mocha-tab-triggers-ul{display:table;width: 100%;}
	.mocha-tab-triggers-ul li{position: relative;text-align: center;display:table-cell;padding:0.16rem 0.08em;}
	.mocha-tab-panels{}
	.mocha-tab-panel{display:none;padding:0.16rem;}
	/* scheme */
	.mocha-tab-scheme1 .mocha-tab-triggers-ul li{border-left:1px solid #ccc;}
	.mocha-tab-scheme2 .mocha-tab-triggers-ul li{border-bottom:2px solid #ccc;}
	.mocha-tab-scheme3 .mocha-tab-triggers-ul{border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
	.mocha-tab-scheme3 .mocha-tab-triggers-ul li{padding: 0.1rem 0.08em;} 
	.mocha-tab-scheme3 .mocha-tab-triggers-ul li.current::after {display: inline-block;content: '';width: 0;bottom: 0;left: 50%;margin-left: -.06rem;height: 0;border-style: solid;border-width: 0 .06rem .08rem .06rem;position: absolute;}
	.mocha-tab-scheme4 .mocha-tab-triggers{width: 100%;padding: .1rem 0;border-bottom:1px solid #ccc;overflow-x: scroll;-webkit-overflow-scrolling: touch;}
	.mocha-tab-scheme4 .mocha-tab-triggers:after{content:"";display: block;width:0;height:0;clear: both;}
	.mocha-tab-scheme4 .mocha-tab-triggers-ul {width: 300%;display: block;}
	.mocha-tab-scheme4 .mocha-tab-triggers-ul li {float: left;display: block;height: .25rem;margin-left: .1rem;padding: 0 .05rem;font-size: .13rem;line-height: .25rem;border-radius: .03rem;border: 1px solid #dbdfe7;-webkit-box-sizing: border-box;box-sizing: border-box;}
	/* skin */
	.mocha-tab-skin1{font-size:0.16rem;}
	.mocha-tab-skin1 .mocha-tab-triggers{background-color: #ddd;}
	.mocha-tab-skin1.mocha-tab-scheme1 .mocha-tab-triggers-ul .current{color: #fff;background-color: #09f;border-left:none;}
	.mocha-tab-skin1.mocha-tab-scheme2 .mocha-tab-triggers-ul .current{color: #09f;font-weight: bold;border-color:#09f;}
	.mocha-tab-skin1.mocha-tab-scheme3 .mocha-tab-triggers,.mocha-tab-skin1.mocha-tab-scheme4 .mocha-tab-triggers{background-color: transparent;}
	.mocha-tab-skin1.mocha-tab-scheme3 .mocha-tab-triggers-ul li.current::after {border-color: transparent transparent #404040 transparent;}
	.mocha-tab-skin1.mocha-tab-scheme4 .mocha-tab-triggers-ul li{background-color: #f4f4f4;}