/*
 * video v.1
 * Author:kevinhehe
 * Modify:2015-12-16
 * 
 */
.mocha-video{width: 90.625%;height: 2rem;margin-left: auto;margin-right: auto;}
	
	/* scheme */
	.mocha-video-scheme1{width: 100%;}
	/* skin */
	.mocha-video-skin1{}
