/*
 * select v.1
 * Author:kevinhehe
 * Modify:2015-12-07
 * 
 */
.mocha-select{width: 81.25%;margin-left: auto;margin-right: auto;}
	.mocha-select select{height: 1.875em;margin-bottom: .6875em;font-size: 16px;line-height:1.875em;border-width: .0625em;border-style: solid;border-radius: .25em;}

	/* scheme1 */
	.mocha-select-scheme1 select {display: block;width: 100%;}
	.mocha-select-scheme2{overflow: hidden;}
	.mocha-select-scheme2 select{width: 48%;}
	.mocha-select-scheme2 select:nth-child(1){float: left;}
	.mocha-select-scheme2 select:nth-child(2){float: right;}
	.mocha-select-scheme3{overflow: hidden;}
	.mocha-select-scheme3 select{width: 30.76%;}
	.mocha-select-scheme3 select:nth-child(1){float: left;}
	.mocha-select-scheme3 select:nth-child(2){float: left;margin-left: 3.59%;}
	.mocha-select-scheme3 select:nth-child(3){float: right;}

	/* skin */
	.mocha-select-skin1 select{color:#000;border-color:#65655b;}