/*
 * select v.1
 * Author:kevinhehe
 * Modify:2015-12-07
 * 
 */
.mocha-select{width: 81.25%;margin-left: auto;margin-right: auto;overflow: hidden;}
	.mocha-select select{float: left;height: 1.875em;margin-right: 3.5%;margin-bottom: .6875em;font-size: 16px;line-height:1.875em;border-width: 1px;border-style: solid;border-radius: .25em;}
	.mocha-select select:last-child{margin-right: 0;}

	/* scheme1 */
	.mocha-select-scheme1 select{width: 100%;}
	.mocha-select-scheme2 select{width: 48.25%;}
	.mocha-select-scheme3 select{width: 31%}

	/* skin */
	.mocha-select-skin1 select{color:#000;border-color:#65655b;}