/*
 * gift v.1
 * Author:kevinhehe
 * Modify:2015-12-08
 * 
 */
.mocha-gift{width:90.625%;margin-left: auto;margin-right: auto;overflow: hidden;}
	.mocha-gift ul{overflow: hidden;}
	.mocha-gift li{float: left;margin-right: 3.5%;}
	.mocha-gift img{display: block;width: 100%;margin-bottom: .05rem;}
	.mocha-gift p{display: none;text-align: center;margin-bottom: .05rem;}
	.mocha-gift a{display: block;width: 100%;height: .32rem;line-height:.32rem;text-align: center;}

	/* scheme1 */
	.mocha-gift-scheme1 li{width: 100%;}
	.mocha-gift-scheme1  li:last-child{margin-right: 0;}
	.mocha-gift-scheme2 li{width: 48.25%;}
	.mocha-gift-scheme2 li:nth-child(even){margin-right: 0;}
	.mocha-gift-scheme3 li{width: 31%;}
	.mocha-gift-scheme3 li:nth-child(3n){margin-right: 0;}
	.mocha-gift-scheme4 p{display: block;}
	/* skin */
	.mocha-gift-skin1{font-size: .16rem;}
	.mocha-gift-skin1 p{font-size: .12rem;}
	.mocha-gift-skin1 a{color: #fff;background-color: #717171;}