<footer class="footer">
	<ul class="footer-nav">
		<li><a href="/mocha/start.html">快速开始</a></li>
		<li><a href="/mocha/docs/">文档</a></li>
		<li><a href="/mocha/demo/">Demo</a></li>
		<li><a href="/mocha/download.html">下载</a></li>
		<li class="alt"><a href="https://github.com/tgideas/mocha">Github</a></li>
	</ul>
	<p class="copyright">Copyright &copy;2016 TGideas</p>
</footer>
