<header class="header">
  <div class="inner">
    <a href="/mocha/" class="logo">Mocha</a>
    <div class="navigation">
      <ul class="nav-ul">
        <li><a href="/mocha/">首页</a></li>
        <li><a href="/mocha/start.html">快速开始</a></li>
        <li class="current"><a href="/mocha/docs/">文档</a></li>
        <li><a href="/mocha/demo/">Demo</a></li>
        <li><a href="/mocha/download.html">下载</a></li>
        <li><a href="https://github.com/tgideas/mocha">Github</a></li>
      </ul>
    </div>
  </div>
</header>