/*
 * button v.1
 * Author:sonichuang
 * Modify:2015-12-23
 * 
 */

 .mocha-pic-list{}
 	.mocha-pic-list-ul{overflow: hidden;letter-spacing:-0.35em;}
 	.mocha-pic-list-item{letter-spacing: normal;display: inline-block;margin-bottom:3%;}
	.mocha-pic-list-item .pic{display: block;}
	.mocha-pic-list-item .txt{display: block;text-align: center;margin-top:0.5em;margin-bottom:0.5em;}
 	/* scheme */
 	.mocha-pic-list-scheme1 .mocha-pic-list-item{width:100%;margin-bottom:3%;}
 	.mocha-pic-list-scheme2 .mocha-pic-list-item{width:47%;margin-right:3%;}
 	.mocha-pic-list-scheme3 .mocha-pic-list-item{width:30.3%;margin-right:3%;}
 	.mocha-pic-list-scheme4 .mocha-pic-list-item{width:22%;margin-right:3%;}
	/* skin */
	.mocha-pic-list-skin1{font-size:14px;line-height: 1.2em;}
	.mocha-pic-list-skin1 .mocha-pic-list-item .txt{color: #333;}