/*
 * lottery v.1
 * Author:dereksu
 * Modify:2015-12-13
 */
	/* lottery */
  .mocha-lottery{overflow:hidden;margin:0 auto;}
	.mocha-lottery .content{margin:0 auto;}
	/* scheme */
	.mocha-lottery-scheme1 .content{width:307px; height: 247px;background: url(http://game.gtimg.cn/images/moba/cp/a20151016bbzbm/cj_bg.jpg) no-repeat;background-size: 100% auto;}
	.mocha-lottery-scheme2 .content{width:244px; height: 244px;}
	.mocha-lottery-scheme2 .content .lottery2content_hover{background-size: 100% auto;}
	.mocha-lottery-scheme2 .content .lottery2content_start,.mocha-lottery-scheme2 .content .lottery2content_disable{zoom: 0.5;}

	
	
